/* =================================
   ABOUT SECTION
================================= */


.about-section {

    width: 75%;

    margin: auto;

    text-align: center;

}



/* Title */

.about-section h2 {

    margin-bottom: 30px;

}



/* Content */

.about-content {

    max-width: 850px;

    margin: auto;

}



/* Paragraph */

.about-content p {

    font-size: 16px;

    line-height: 1.6;

    text-align: justify;

    margin-bottom: 15px;

    font-weight: 400;

}



/* Bold */

.about-content b {

    font-weight: 500;

}



/* =================================
   VIEW PROJECT BUTTON
================================= */


.about-button {

    margin-top: 45px;

    display: flex;

    justify-content: center;

}



/* VIEW PROJECT BUTTON */

.view-project {

    display: flex;

    align-items: center;

    justify-content: center;


    width: 280px;

    height: 70px;


    border-radius: 20px;


    background: rgba(255,255,255,0.08);

    border: 1px solid rgba(255,255,255,0.25);


    color: white;


    font-size: 28px;

    font-weight: 500;


    text-decoration: none;


    transition: 0.3s ease;

}



/* Hover */

.view-project:hover {


    background: #2196f3;


    color: white;


    transform: translateY(-4px);


    box-shadow:

    0 8px 20px rgba(33,150,243,0.35);


}



/* =================================
   TABLET
================================= */


@media(max-width:900px){


    .about-content p {

        font-size: 18px;

    }


    .view-project {

        width: 200px;

        height: 50px;

        font-size: 18px;

    }


}



/* =================================
   MOBILE
================================= */


@media(max-width:600px){


    .about-section {

        width: 90%;

    }



    .about-content p {


        font-size: 15px;


        line-height: 1.5;


        text-align: left;


    }



 /* VIEW PROJECT BUTTON */

.view-project {

    display: flex;

    align-items: center;

    justify-content: center;


    width: 260px;

    height: 65px;


    border-radius: 18px;


    background: rgba(255,255,255,0.08);


    border: 1px solid rgba(255,255,255,0.25);


    color: white;


    font-size: 24px;


    font-weight: 500;


    text-decoration: none;


    transition: 0.3s ease;

}


}